# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (all except .env.example template)
.env*.local
.env.staging
.env.production
.env.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
